<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
        <!-- File input -->
        <span>
            <b>Select the file</b><hr>
            <input type="file" (change)="fileChanged($event)"><hr>
            <button mat-raised-button color="secondary" (click)="uploadDocument()">Load by file</button>
        </span>
    </mat-grid-tile>
</mat-grid-list>

<mat-card>  
    <mat-card-title>
        Links
    </mat-card-title>
    <mat-card-content>
        <b>Big text example: </b><a mat-raised-button color="accent" target="_blank" href="https://gitlab.com/ghost-development/concordancia/-/raw/master/examples/example-big.txt">Download</a><hr>
        <b>Small text example: </b><a mat-raised-button color="accent" target="_blank" href="https://gitlab.com/ghost-development/concordancia/-/raw/master/examples/example-small.txt">Download</a><hr>
        <b>Code of project: </b><a mat-raised-button color="accent" target="_blank" href="https://gitlab.com/ghost-development/concordancia/">GitLab</a><hr>
    </mat-card-content>
</mat-card>